body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    color: #000c1a;
    margin: 0;
    padding: 0;
  }

.nav-bar {
    padding: 0px 20px;
}

.navi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0px 20px;
    padding: 0;
}

.logo {
    height: 100px;
    width: auto;
}

.stats-box {
  background: #d6f1ff;
  border-radius: 15px;
  margin: auto;
  padding: 50px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stats-box h2 {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
  color: #000c1a;
  padding-bottom: 30px;
}
.stats-box a{
  background: #0e61ba;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 20px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
}
.stats-box a:hover{
  background-color: #003e81;
    box-shadow: 0 2px 4px (#02020B);
    transform: scale(1.09);
    color: #ffffff;
}
  .stats-graphics {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .stats-graphics img {
    width: 110px;
    height: 110px;
    padding: 10px;
  }

  .serno{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px;
  }
  .services {
    margin: 10px;
  }
  .services h3 {
    font-size: 22px;
    color: #000c1a;
  }
  .service-items {
    display: flex;
    gap: 20px;
  }
  .service-items a{
    text-decoration: none;
  }
  .service-card {
    background: #d6f1ff;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    text-align: center;
    justify-content: space-between;
    padding: 15px;
    color: #000c1a;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.3s ease;
  }

  .service-card:hover{
    background-color: #b0e1ff;
    box-shadow: 0 2px 4px (#02020B);
    transform: scale(1.09);
    color: #02020B;
  }
  .service-card img {
    display: block;
    margin: 0 auto 10px;
    height: 90px;
    width: 90px;
    background: transparent;
  }
  .notify {
    margin: 10px 5%;
  }
  .notify h3 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #000c1a;
  }
  .notify-box {
    background: #e6f2ff;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 15px;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    color: #02020B;
  }
  .logout {
    margin-left: auto;
  }
  .logout a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
  }

  .logout-btn {
  background-color: #0e61ba;
  border: none;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 6px;
  transition: 0.2s;
  font-weight: bold;
}

.logout-btn:hover {
  background-color: #003e81;
  border-radius: 15px;
  color: #02020B;
}