body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #e9f4ff;
  }
  .topbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    align-items: center;
    padding: 20px 50px;
    background: #e9f4ff;
  }
  
  .right {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px; 
  }
  
  .topbar img {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  
  .stats-box {
    background: #a5d8ff;
    border-radius: 15px;
    margin: 20px auto;
    padding: 50px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .stats-box h2 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
    color: #1d3557;
    padding-bottom: 30px;
  }
  .stats-box button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background: #1d3557;
    color: white;
    cursor: pointer;
  }
  .stats-graphics {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .stats-graphics img {
    width: 110px;
    height: 110px;
    padding: 10px;
  }

  .serno{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px;
  }
  .services {
    margin: 30px;
    margin-bottom: 50px;
  }
  .services h3 {
    font-size: 22px;
    margin-bottom: 30px;
    color: #1d3557;
  }
  .service-items {
    display: flex;
    gap: 20px;
  }
  .service-card {
    background: #3f97e0;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    text-align: center;
    justify-content: space-between;
    padding: 15px;
    color: white;
    font-size: 14px;
    font-weight: bold;
  }
  .service-card img {
    display: block;
    margin: 0 auto 10px;
    height: 90px;
    width: 90px;
    background: transparent;
  }
  .notify {
    margin: 30px 5%;
  }
  .notify h3 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #1d3557;
  }
  .notify-box {
    background: white;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 15px;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    color: #1d3557;
  }
  .logout {
    margin-left: auto;
  }
  .logout a {
    text-decoration: none;
    color: #1d3557;
    font-weight: bold;
  }